* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Roboto";
}

header .logo {
  text-align: center;
  box-shadow: 0px 0px 5px 0px #000;
}
header .logo img {
  width: 200px;
  padding: 20px 0px 10px 0px;
}
header .localisation {
  display: flex;
  background-color: #E5E5E5;
  justify-content: center;
}
header .localisation i {
  padding: 15px 20px 15px 0px;
  font-size: 20px;
}
header .localisation p {
  padding: 15px 0px 15px 0px;
  font-weight: 600;
}
header .menu-explore {
  text-align: center;
  background-color: #F3F3F3;
  padding: 40px 0px 55px 0px;
}
header .menu-explore h1 {
  font-size: 22px;
  padding: 0px 45px 20px 45px;
}
header .menu-explore p {
  padding: 0px 45px 30px 45px;
}
header .menu-explore button {
  padding: 17px 20px 17px 20px;
  border-radius: 50px;
  border-style: solid;
  color: white;
  background: linear-gradient(356deg, #9356dc 20%, #ff79da 100%);
  border: none;
  font-size: 16px;
  font-weight: 400;
}

main {
  background-color: #F3F3F3;
}

.loader-container {
  position: absolute;
  background: #f1f1f1;
  width: 99.14vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  z-index: 99;
  animation: fin-loader 3s;
}
.loader-container .dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  margin: 0 15px;
  display: flex;
  animation: loader infinite 0.3s alternate;
}
.loader-container .d2 {
  animation-delay: 0.05s;
}
.loader-container .d3 {
  animation-delay: 0.1s;
}

.container-fonctionnement {
  padding: 40px 20px 40px 20px;
  background-color: white;
}
.container-fonctionnement h2 {
  margin-bottom: 30px;
}
.container-fonctionnement__liste {
  padding: 0px 10px;
}
.container-fonctionnement__details {
  display: flex;
  background-color: #F3F3F3;
  margin-bottom: 15px;
  border-radius: 20px 20px 20px 20px;
  padding: 25px 0px 25px 40px;
  font-weight: bold;
  box-shadow: 7px 5px 5px 0px #E5E5E5;
  position: relative;
}
.container-fonctionnement__details i {
  margin-right: 20px;
  color: gray;
  font-size: 20px;
}
.container-fonctionnement__details .numero1, .container-fonctionnement__details .numero2 {
  position: absolute;
  top: 20px;
  left: -12px;
  background-color: #9356DC;
  color: white;
  padding: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50px;
}
.container-fonctionnement__details--dif {
  display: flex;
  padding: 0px 0px 20px 0px;
  background-color: #F3E4F8;
  margin-bottom: 15px;
  border-radius: 20px 20px 20px 20px;
  padding: 25px 0px 25px 40px;
  font-weight: bold;
  box-shadow: 7px 5px 5px 0px #E5E5E5;
  position: relative;
}
.container-fonctionnement__details--dif .numero3 {
  position: absolute;
  top: 20px;
  left: -12px;
  background-color: #9356DC;
  color: white;
  padding: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50px;
}
.container-fonctionnement__details--dif i {
  margin-right: 20px;
  color: mediumpurple;
}

.restaurant {
  padding: 0px 20px 25px 20px;
  background-color: #F3F3F3;
  padding-bottom: 100px;
}
.restaurant h1 {
  padding-top: 50px;
}
.restaurant__details {
  box-shadow: 7px 5px 5px 0px #E5E5E5;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.restaurant__details img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  object-fit: cover;
}
.restaurant__details--new {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #99E2D0;
  color: #2a9781;
  font-weight: bold;
  padding: 5px 12px 5px 12px;
  font-size: 16px;
  border-radius: 2px;
}
.restaurant__details--new1 {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #99E2D0;
  color: #2a9781;
  font-weight: bold;
  padding: 5px 12px 5px 12px;
  font-size: 16px;
  border-radius: 2px;
}
.restaurant__details-description {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.restaurant__details-description div h3 {
  font-size: 18px;
}
.restaurant__details-description div p {
  margin-top: 5px;
}
.restaurant__details-description i {
  font-size: 25px;
  padding: 7px 10px 0px 0px;
  transition: 0.2s;
}
.restaurant__details-coeur {
  position: relative;
}
.restaurant__heart {
  position: absolute;
  top: 0;
  right: 0;
}
.restaurant__heart--filled {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__heart--filled:hover {
  opacity: 1;
  transition: opacity 1s;
}

footer {
  background-color: #545454;
}
footer .footer-container {
  padding: 20px 20px 40px 20px;
  color: white;
}
footer .footer-container img {
  width: 120px;
  margin: 10px 0px 20px 0px;
}
footer .footer-container div {
  display: flex;
}
footer .footer-container div i {
  margin-right: 10px;
}
footer .footer-container #footer-container__partenaire {
  margin-top: 8px;
}
footer .footer-container #footer-container__partenaire .fas.fa-hands-helping {
  font-size: 10px;
  margin-top: 2px;
}
footer .footer-container #footer-container__partenaire p {
  margin-top: 0;
}
footer .footer-container #footer-container__couvert p {
  margin-top: 0;
}
footer .footer-container #partenaire {
  margin-top: 8px;
}
footer .footer-container .p-footer {
  margin-top: 8px;
}

/* PAGE MENU */
header .logo_pdg {
  display: flex;
  justify-content: center;
}
header .logo_pdg img {
  width: 200px;
  padding: 20px 0px 10px 0px;
}
header .logo_pdg a {
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 20px;
  color: black;
}
header img {
  width: 100%;
}
header .img-header-food {
  height: 260px;
  object-fit: cover;
}

.palette-du-gout {
  background-color: #F3F3F3;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  top: -55px;
}
.palette-du-gout__titre {
  display: flex;
  padding: 40px 0px 20px 15px;
  align-items: center;
  justify-content: space-between;
}
.palette-du-gout__titre h1 {
  font-size: 25px;
  font-family: "Shrikhand";
}
.palette-du-gout__titre i {
  font-size: 25px;
  margin-right: 40px;
}
.palette-du-gout button {
  padding: 17px 45px 17px 45px;
  border-radius: 50px;
  border-style: solid;
  color: white;
  background: linear-gradient(356deg, #9356dc 20%, #ff79da 100%);
  border: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.repas {
  padding: 10px 10px 0px 10px;
}
.repas .repas__details {
  padding-bottom: 35px;
}
.repas .repas__details h1 {
  font-size: 15px;
  margin-left: 7px;
  color: #3E3E3E;
  border-bottom: 3px solid #99E2D0;
  padding-top: 5px;
  width: 35px;
  margin-bottom: 20px;
  margin-left: 7px;
  padding-bottom: 5px;
}

.repas__onglets-repas:nth-child(2) {
  animation-name: transition-repas;
  animation-delay: 0.1s;
}

.repas__onglets-repas:nth-child(3) {
  animation-name: transition-repas;
  animation-delay: 0.2s;
}

.repas__onglets-repas {
  background-color: white;
  margin-bottom: 13px;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 12px 0px gray;
  animation-name: transition-repas;
  animation-duration: 1s;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.repas__onglets-repas div:nth-child(1) {
  padding: 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.repas__onglets-repas div:nth-child(2) {
  display: flex;
}
.repas__onglets-repas h2 {
  font-size: 17px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.repas__onglets-repas p {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.repas__onglets-repas .prix {
  font-weight: bold;
  margin-right: 10px;
  margin-top: 28px;
}
.repas__onglets-repas .check {
  background-color: white;
}
.repas__onglets-repas i {
  align-items: center;
  font-size: 20px;
  color: white;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  width: 0px;
  justify-content: center;
  transition: 0.4s;
  padding-right: 10px;
  padding-left: 10px;
}
.repas__onglets-repas:hover .check {
  background-color: #99E2D0;
}
.repas__onglets-repas:hover i {
  width: 60px;
  transition: 0.4s;
  display: flex;
  animation-name: animation-verif;
  transform: rotate(-360deg);
  transition-duration: 1s;
}

.button-commander {
  text-align: center;
}

@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/font/Shrikhand-Regular.ttf") format("truetype");
}
@keyframes transition-repas {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes loader {
  0% {
    transform: translateY(-30px);
  }
  100% {
    display: none;
  }
}
@keyframes fin-loader {
  0% {
    display: none;
    z-index: 99;
  }
  100% {
    display: none;
    z-index: -1;
  }
}
@media screen and (min-width: 768px) {
  footer .footer-container {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .container-fonctionnement h2 {
    display: flex;
    justify-content: center;
  }
  .container-fonctionnement__liste {
    display: flex;
    justify-content: center;
  }
  .container-fonctionnement__details {
    margin-right: 100px;
    padding: 25px 70px 25px 70px;
  }
  .container-fonctionnement__details--dif {
    padding: 25px 70px 25px 70px;
  }

  .restaurant__liste {
    display: flex;
    justify-content: space-between;
  }
  .restaurant__details {
    width: 49%;
    height: 200;
  }
  .restaurant__details--new {
    width: 62px;
    right: 15px;
    top: 15px;
  }
  .restaurant__details--new1 {
    width: 62px;
    right: 15px;
    top: 15px;
  }
  .restaurant img {
    height: 350px;
  }

  .palette-du-gout .repas__details h1 {
    margin: auto;
    margin-bottom: 10px;
  }
  .palette-du-gout .repas__liste {
    display: flex;
    justify-content: center;
  }
  .palette-du-gout .repas .repas__onglets-repas {
    width: 20%;
    margin-right: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
