@import "./Utils/variables";

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand";
    src: url("/font/Shrikhand-Regular.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Roboto";
}

header{
    .logo{
        text-align: center;
        box-shadow: 0px 0px 5px 0px #000;
    }
    .logo img{
        width: 200px;
        padding: 20px 0px 10px 0px;
    }

    .localisation{
        display: flex;
        background-color: #E5E5E5;
        justify-content: center;

        i{
            padding: 15px 20px 15px 0px;
            font-size: 20px;
        }

        p{
            padding: 15px 0px 15px 0px;
            font-weight: 600;
        }
    }

    .menu-explore{
        text-align: center;
        background-color: #F3F3F3;
        padding: 40px 0px 55px 0px;

        h1{
            font-size: 22px;
            padding: 0px 45px 20px 45px;
        }

        p{
            padding: 0px 45px 30px 45px;
        }

        button{
            padding: 17px 20px 17px 20px;
            border-radius: 50px;
            border-style: solid;
            color: white;
            background: linear-gradient(356deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%);
            border: none;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

main{
    background-color: #F3F3F3;
}

.container-fonctionnement{
    padding: 40px 20px 40px 20px;
    background-color: white;

    h2{
        margin-bottom: 30px;
    }
    
    &__details{
        display: flex;
        padding: 0px 0px 20px 0px;
        background-color:#F3F3F3;
        margin-bottom: 15px;
        border-radius: 20px 20px 20px 20px;
        padding: 25px 0px 25px 40px;
        font-weight: bold;
        box-shadow: 7px 5px 5px 0px #E5E5E5;

        i{
            margin-right: 20px;
            color: gray;
            font-size: 20px;
        }

        .numero1, .numero2{
            position: absolute;
            left: 8px;
            background-color: #9356DC;
            color: white;
            padding: 5px;
            height: 20px;
            width: 20px;
            text-align: center;
            border-radius: 50px;
        }
        
        &--dif{
            display: flex;
            padding: 0px 0px 20px 0px;
            background-color: #F3E4F8;
            margin-bottom: 15px;
            border-radius: 20px 20px 20px 20px;
            padding: 25px 0px 25px 40px;
            font-weight: bold;
            box-shadow: 7px 5px 5px 0px #E5E5E5;

            .numero3{
                position: absolute;
                left: 8px;
                background-color: #9356DC;
                color: white;
                padding: 5px;
                height: 20px;
                width: 20px;
                text-align: center;
                border-radius: 50px;
            }

            i{
                margin-right: 20px;
                color:mediumpurple;
            }
        }
    }
}

.container-restaurant{
    padding: 0px 20px 25px 20px;
    background-color: #F3F3F3;
    padding-bottom: 100px;

    h1{
        padding-top: 50px;
    }

    &__details{
        box-shadow: 7px 5px 5px 0px #E5E5E5;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        margin-top: 20px;

        img{
            width: 100%;
            border-radius: 20px 20px 0px 0px;
            height: 150px;
            object-fit: cover;
        }

        .container-restaurant__details-description{
            display: flex;
            padding: 15px;
            justify-content: space-between;

            div {
                h3 {

                }

                p{

                }
            }
            div h3{
                font-size: 18px;
            }

            div p{
                margin-top: 5px;
            }

            i{
                font-size: 25px;
                padding: 7px 10px 0px 0px;
                transition: 0.2s;
            }


        }

        &--new{
            position: absolute;
            right: 37px;
            top: 58em;
            background-color: $tertiairecolor;
            color: #2a9781;
            font-weight: bold;
            padding: 5px 12px 5px 12px;
            font-size: 16px;
            border-radius: 2px;
        }

        &--new1{
            position: absolute;
            right: 37px;
            top: 73.5em;
            background-color: $tertiairecolor;
            color: #2a9781;
            font-weight: bold;
            padding: 5px 12px 5px 12px;
            font-size: 16px;
            border-radius: 2px;
        }

        &__coeur{
            .fas.fa-heart{
                display: none;
                color: #9356DC;
            }

            &:hover{
                .far.fa-heart{
                    color: #9356DC;
                    transition: 0.2s;
                }
            }

            &:active{
                .fas.fa-heart{
                    display: block;
                }

                .far.fa-heart{
                    display: none;  
                }
            }
        }
    }
}

footer{
    background-color: #545454;

    & .footer-container{
        padding: 20px 20px 40px 20px;
        color: white;

        img{
            width: 120px;
            margin: 10px 0px 20px 0px;
        }

        div{
            display: flex;

            i{
                margin-right: 10px;
            }
        }

        #footer-container__partenaire{
            margin-top: 8px;

            .fas.fa-hands-helping{
                font-size: 10px;
                margin-top: 2px;
            }

            p{
                margin-top: 0;
            }
        }

        #footer-container__couvert{
            p{
                margin-top: 0;
            }
        }

        #partenaire{
            margin-top: 8px;
        }

        .p-footer{
            margin-top: 8px;
        }
    }
}

/* PAGE MENU */


header{
    & .logo_pdg{
        display: flex;
        justify-content: center;

        & img{
            width: 200px;
            padding: 20px 0px 10px 0px;
        }

        & a{
            position: absolute;
            left: 20px;
            top: 25px;
            font-size: 20px;
            color: black;
        }
    }

    & img{
        width: 100%;
    }

    & .img-header-food{
        height: 260px;
        object-fit: cover;
    }
}


.container-palette-du-gout{
    background-color: #F3F3F3;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -55px;

    &__titre{
        display: flex;
        padding: 40px 0px 20px 15px;
        align-items: center;
        justify-content: space-between;

        & h1{
            font-size: 25px;
            font-family: "Shrikhand";
        }

        & i{
            font-size: 25px;
            margin-right: 40px;
        }
    }

    & button{
        padding: 17px 45px 17px 45px;
        border-radius: 50px;
        border-style: solid;
        color: white;
        background: linear-gradient(356deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%);
        border: none;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }
}

.container-repas{
    padding: 10px 10px 0px 10px;

    .container-repas__details{
        padding-bottom: 35px;

        & h1{
            font-size: 15px;
            margin-left: 7px;
            color: #3E3E3E;
            border-bottom: 3px solid #99E2D0;
            padding-top: 5px;
            width: 35px;
            margin-bottom: 20px;
            margin-left: 7px;
            padding-bottom: 5px;
        }
    }
}

.container-repas__onglets-repas{
    background-color: white;
    margin-bottom: 13px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 12px 0px gray;

    & div h2{
        font-size: 17px;
        margin-bottom: 5px;
    }

    & div p{
        font-size: 15px;
    }

    & .prix{
        font-weight: bold;
        margin-right: 10px;
        margin-top: 28px;
    }

    & i{
        align-items: center;
        font-size: 20px;
        background-color: #99E2D0;
        padding: 15px 15px 15px 15px;
        color: white;
        border-radius: 0px 10px 10px 0px;
        display: none;
    }

    & i:hover{
        display: flex;
        cursor: pointer;
        background-color: red;
        transition: 0.6s;
    }
}

.button-commander{
    text-align: center;
}

// MEDIA QUERIES

@media screen  and (min-width: 768px){
    .container-restaurant{
        &__details{
            &--new{
                top: 55em;
            }

            &--new1{
                top: 70.5em;
            }
            
        }
    }

    footer{
        text-align: center;
        justify-content: center;
        display: flex;

    }
}

@media screen  and (min-width: 1280px){
    .container-fonctionnement{
        h2{
            display: flex;
            justify-content: center;
        }

        &__liste{
            display: flex;
            justify-content: center;
        }

        &__details{
            margin-right: 100px;
            padding: 25px 70px 25px 70px;

            & .numero1{
                left: 320px;
            }

            & .numero2{
                left: 770px;
            }

            &--dif{
                padding: 25px 70px 25px 70px;

                & .numero3{
                    left: 1210px;
                }
            }
        }
    }

    .container-restaurant{
        &__liste{
            display: flex;
            justify-content: space-between;
        }

        &__details{
            width: 49%;
            height: 200;

            &--new{
                width: 62px;
                left: 830px;
                top: 710px;
            }

            &--new1{
                width: 62px;
                top: 710px;
            }
        }

        img{
            height: 350px;
        }
    }


    // PAGE MENU

    .container-palette-du-gout{

        & .container-repas{
            &__liste{
                display: flex;
                justify-content: center;
            }

            & .container-repas__onglets-repas{
                width: 20%;
                margin-right: 40px;
            }
        }
    }
}


