@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand";
    src: url("/font/Shrikhand-Regular.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Roboto";
}

header .logo img{
    width: 200px;
    padding: 20px 0px 10px 0px;
}

header .logo{
    text-align: center;
    box-shadow: 0px 0px 5px 0px #000;
}

header .localisation{
    display: flex;
    background-color: #E5E5E5;
    justify-content: center;
}

header .localisation i{
    padding: 15px 20px 15px 0px;
    font-size: 20px;
}

header .localisation p{
    padding: 15px 0px 15px 0px;
    font-weight: 600;
}

header .menu-explore{
    text-align: center;
    background-color: #F3F3F3;
    padding: 40px 0px 55px 0px;
}

header .menu-explore h1{
    font-size: 22px;
    padding: 0px 45px 20px 45px;
}

header .menu-explore p{
    padding: 0px 45px 30px 45px;
}

header .menu-explore button{
    padding: 17px 20px 17px 20px;
    border-radius: 50px;
    border-style: solid;
    color: white;
    background: linear-gradient(356deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%);
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.container-fonctionnement{
    padding: 40px 20px 40px 20px;
    background-color: white;
}

.container-fonctionnement h2{
    margin-bottom: 30px;
    
}

.container-fonctionnement__fonctionnement{
    display: flex;
    padding: 0px 0px 20px 0px;
    background-color:#F3F3F3;
    margin-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    padding: 25px 0px 25px 40px;
    font-weight: bold;
    box-shadow: 7px 5px 5px 0px #E5E5E5;
}

.container-fonctionnement__fonctionnement i{
    margin-right: 20px;
    color: gray;
    font-size: 20px;
}

.container-fonctionnement__fonctionnement .numero{
    position: absolute;
    left: 15px;
    background-color: #9356DC;
    color: white;
    padding: 5px;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50px;
}

.container-fonctionnement__fonctionnement--dif{
    display: flex;
    padding: 0px 0px 20px 0px;
    background-color: #F3E4F8;
    margin-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    padding: 25px 0px 25px 40px;
    font-weight: bold;
    box-shadow: 7px 5px 5px 0px #E5E5E5;
}

.container-fonctionnement__fonctionnement--dif .numero{
    position: absolute;
    left: 15px;
    background-color: #9356DC;
    color: white;
    padding: 5px;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50px;
}

.container-fonctionnement__fonctionnement--dif i{
    margin-right: 20px;
    color:mediumpurple;
}

.container-restaurant{
    padding: 0px 20px 25px 20px;
    background-color: #F3F3F3;
    padding-bottom: 100px;
}

.container-restaurant h1{
    padding-top: 50px;
}

.container-restaurant .container-restaurant__restaurant img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: 150px;
    object-fit: cover;
}

.container-restaurant__restaurant{
    box-shadow: 7px 5px 5px 0px #E5E5E5;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    margin-top: 20px;
}

.container-restaurant__restaurant__restaurant-description{
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.container-restaurant__restaurant__restaurant-description div h3{
    font-size: 18px;
}

.container-restaurant__restaurant__restaurant-description div p{
    margin-top: 5px;
}

.container-restaurant__restaurant__restaurant-description i{
    font-size: 25px;
    padding: 7px 10px 0px 0px;
}

.container-restaurant__restaurant__restaurant-description i:hover{
    color: #9356DC;
    transition: 0.4s;
}

footer{
    background-color: #545454;
}

.footer-container{
    padding: 20px 20px 25px 20px;
    color: white;
}

.footer-container img{
    width: 120px;
    margin-bottom: 10px;
}

.footer-container div{
    display: flex;
}

.fas.fa-hands-helping{
    font-size: 10px;
    margin-top: 2px;
}

.footer-container div i{
    margin-right: 10px;
}

#footer-container__partenaire{
    margin-top: 8px;
}

#footer-container__partenaire p, #footer-container__couvert p{
    margin-top: 0;
}

.p-footer{
    margin-top: 8px;
}


/* PAGE MENU */

header .logo_pdg img{
    width: 200px;
    padding: 20px 0px 10px 0px;
}

header .logo_pdg{
    display: flex;
    justify-content: center;
}

header .logo_pdg a{
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 20px;
    color: black;
}

header img{
    width: 100%;
}

header .img-header-food{
    height: 260px;
    object-fit: cover;
}

.main--dif{
    background-color: #F3F3F3;
    border-radius: 30px 30px 0px 0px;
}

.container-palette_du_gout{
    background-color: #F3F3F3;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -55px;
}

.container-palette_du_gout .titre_i{
    display: flex;
    padding: 40px 0px 20px 15px;
    align-items: center;
    justify-content: space-between;
}

.container-palette_du_gout .titre_i h1{
    font-size: 25px;
    font-family: "Shrikhand";
}

.container-palette_du_gout .titre_i i{
    font-size: 25px;
    margin-right: 40px;
}

.container-repas{
    padding: 10px 10px 0px 10px;
}

.container-repas .repas{
    padding-bottom: 35px;
}

.container-repas .repas h1{
    font-size: 15px;
    margin-left: 7px;
    color: #3E3E3E;
}

.border_bottom{
    border-bottom: 3px solid #99E2D0;
    padding-top: 5px;
    width: 12%;
    margin-bottom: 20px;
    margin-left: 7px;
}

.onglets-repas{
    background-color: white;
    margin-bottom: 13px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 12px 0px gray;
}

.onglets-repas div h2{
    font-size: 17px;
    margin-bottom: 5px;
}

.onglets-repas div p{
    font-size: 15px;
}

.onglets-repas .prix{
    font-weight: bold;
    margin-right: 10px;
    margin-top: 28px;
}

.onglets-repas i{
    align-items: center;
    font-size: 20px;
    background-color: #99E2D0;
    padding: 15px 15px 15px 15px;
    color: white;
    border-radius: 0px 10px 10px 0px;
    display: none;
}

.onglets-repas i:hover{
    display: flex;
    cursor: pointer;
    background-color: red;
    transition: 0.6s;
}

.button-commander{
    text-align: center;
}

.container-palette_du_gout button{
    margin: 0px 0px 30px 0px;
    padding: 17px 45px 17px 45px;
    border-radius: 50px;
    border-style: solid;
    color: white;
    background: linear-gradient(356deg, rgba(147,86,220,1) 20%, rgba(255,121,218,1) 100%);
    border: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}



