@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand";
    src: url("/font/Shrikhand-Regular.ttf") format("truetype");
}